*,
*::before,
*::after {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  scrollbar-gutter: stable;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select,
a {
  font: inherit;
  background-color: transparent;
}
a,
button,
select {
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
ul {
  list-style: none;
}
#app {
  isolation: isolate;
}
